{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Onboarding Program</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/static/assets/vendors/jquery-bar-rating/css-stars.css">
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/static/assets/css/demo_3/style.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="/static/assets/images/favicon.png" />
  </head>

    <body>
        <div class="container-scroller">
            
			{% include "menu.html" %}


			<div class="container-fluid page-body-wrapper">
				<div class="main-panel">
				  <div class="content-wrapper">
					<div class="row">
					  <div class="col-md-12">
						<div class="col-12 grid-margin">
							<div class="card">
							  <div class="card-body">
								<h4 class="card-title">บทเรียน {{ Sub_course.Title }}</h4>
								<!-- https://drive.google.com/file/d/1-2DuLtzekmoTEm1qV8_xRRLMN6bwlTdS/preview -->
								<div class="text-center table-responsive">
									<!-- <iframe src="{{ Sub_course.URLGdrive }}" allow="autoplay" width="100%" height="480" referrerpolicy="no-referrer"></iframe> -->
									<!-- src="https://drive.google.com/file/d/11-t5RWPacv5JMi30iJs-Dz9qcxrN5SXq/preview" -->
									<!-- src="/static/assets/images/product_images_2/vdo.mp4" -->
									
									<iframe width="100%" height="480" src="{{ Sub_course.URLGdrive }}" frameborder="0" allow="autoplay 'src'" allowfullscreen></iframe>
									
									<!-- <video controls >
										<source src="https://drive.google.com/file/d/1-2DuLtzekmoTEm1qV8_xRRLMN6bwlTdS/preview" type="video/mp4" >
									</video> -->
									
									</br>
									<p><i class="mdi mdi-account-card-details"></i> : {{ Sub_course.ConstructorName }} ({{ Sub_course.ConstructorPosition }})</p>
									<p><i class="mdi mdi-phone-classic"></i> : {{ Sub_course.Tel }} | <i class="mdi mdi-email"></i> : {{ Sub_course.email }}</p>
									<p><i class="mdi mdi-file-document"></i> : <a href="{{ Sub_course.Document }}" target="_blank">เอกสารประกอบบทเรียน</a></p>
									<p class="text-danger"><label>ปุ่ม บันทึกผลการเรียน จะปรากฎขึ้นเมื่อการบรรยายใกล้จะจบ</label></p>
									<a class="btn btn-gradient-info btn-md" href="{% url 'Course_main' Sub_course.Link_Course.id %}">ย้อนกลับ</a>
									<div>ปุ่มจะปรากฏในอีก <span id="time">{{ Sub_course.TotalTime }}:00</span> นาที!</div>
									<form method="POST" onsubmit="return checkscore()">
										{% csrf_token %}
									<input type="hidden" name="TitalTime" id="TitalTime" value="{{ Sub_course.TotalTime }}"/>
									<button class="btn btn-gradient-success btn-md" type="submit" id="POSTbutton" name="POSTbutton" style="visibility: hidden;">
										บันทึกผลการเรียน
									</button>
									</form>
								</div>
							  </div>
							</div>
						  </div>
					  </div>
					</div>
				  </div>
				  <!-- content-wrapper ends -->
				  <!-- partial:../../partials/_footer.html -->
				  <footer class="footer">
					<div class="container">
					  <div class="d-sm-flex justify-content-center justify-content-sm-between">
						<span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2017 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
						<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">ติดต่อสอบถาม ผบร. โทร 5963, 5864 <i class="mdi mdi-heart text-danger"></i></span>
					  </div>
					</div>
				  </footer>
				  <!-- partial -->
				</div>
				<!-- main-panel ends -->
			  </div>
            
		</div>
		
    </body>
    <!-- plugins:js -->
    <script src="/static/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/static/assets/vendors/select2/select2.min.js"></script>
    <script src="/static/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/static/assets/js/off-canvas.js"></script>
    <script src="/static/assets/js/hoverable-collapse.js"></script>
    <script src="/static/assets/js/misc.js"></script>
    <script src="/static/assets/js/settings.js"></script>
	<script src="/static/assets/js/todolist.js"></script>
	<script src="/static/assets/js/widgets.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/static/assets/js/file-upload.js"></script>
    <script src="/static/assets/js/typeahead.js"></script>
    <script src="/static/assets/js/select2.js"></script>
    <!-- End custom js for this page -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		
		$(window).ready(function(){
			var totaltime = document.getElementById('TitalTime').value;
		    var C_time = (totaltime*60000);
			// timevdo 35.52m
			// 1m = 60000s
			// var time = window.setTimeout(function(){document.getElementById('POSTbutton').style.visibility='visible'},C_time);
		});
	</script>
	<script>
		function startTimer(duration, display) {
			var timer = duration, minutes, seconds;
			var totaltime = document.getElementById('TitalTime').value;
			setInterval(function () {
				minutes = parseInt(timer / 60, 10);
				seconds = parseInt(timer % 60, 10);

				minutes = minutes < 10 ? "0" + minutes : minutes;
				seconds = seconds < 10 ? "0" + seconds : seconds;

				display.textContent = minutes + ":" + seconds;

				if (--timer < 0) {
					timer = 0;
					var time = document.getElementById('POSTbutton').style.visibility='visible';
				}
				// if (minutes == totaltime){
				// 	var time = window.setTimeout(function(){document.getElementById('POSTbutton').style.visibility='visible'},C_time);
				// }
			}, 1000);
		}

		window.onload = function () {
			var totaltime = document.getElementById('TitalTime').value;
			var fiveMinutes = 60 * totaltime,
				display = document.querySelector('#time');
			startTimer(fiveMinutes, display);
		};
	</script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.4.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.4.2/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyBer4SxRI16TiGoHbS0uQcQtkWXUnyu6ko",
    authDomain: "pqa-pea.firebaseapp.com",
    databaseURL: "https://pqa-pea.firebaseio.com",
    projectId: "pqa-pea",
    storageBucket: "pqa-pea.appspot.com",
    messagingSenderId: "284221948057",
    appId: "1:284221948057:web:9d94cee2b629b58b5d7808",
    measurementId: "G-TPY0H10EZ6"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>